
R/.Rproj.user/3B3EFAF8/sources/prop/C7EA6336
R/.Rproj.user/3B3EFAF8/sources/prop/INDEX
R/.Rproj.user/3B3EFAF8/sources/s-C44927EA/814B08AB-contents
R/.Rproj.user/3B3EFAF8/sources/s-C44927EA/814B08AB
R/.Rproj.user/3B3EFAF8/sources/s-C44927EA/lock_file
R/.Rproj.user/3B3EFAF8/sources/s-C44927EA/C300DAFF
R/.Rproj.user/3B3EFAF8/sources/s-C44927EA/C300DAFF-contents
R/.Rproj.user/shared/notebooks/patch-chunk-names
R/.Rproj.user/shared/notebooks/paths
R/R.Rproj
twitter_credentials.json
twitter-api.py
